body {
    background: #2B3328;
    font-family: "Gotham Book", Helvetica, Arial, serif;
    -webkit-font-smoothing: antialiased;
}

ul li {
    border-bottom: dotted 1px rgba(255, 255, 255, .07);
    color: #fff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    letter-spacing: .2px;
    text-align: left;
}

ul li:first-child {
    border-top: dotted 1px rgba(255, 255, 255, .07);
    /*padding-top: 5px;*/

}

ul li:last-child {
    /*border-bottom: dashed 1px #EAEAEA;*/

}

ul li a {
    color: #fff;
    font-size: 15px;
    opacity: .75;
    text-decoration: none;
    transition: color 0.1s ease;
}

a:hover {
    text-decoration: underline;
}

ul li a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.section-right {
    position: relative;
    height: 100%;
    left: 281px;
    top: 71px;
    width: 800px;
    z-index: 10;
}

.section-left {
    left: 30px;
    cursor: default;
    position: fixed;
    top: 20px;
    transition: opacity 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
}

.section-left:hover {
    opacity: 1;
}

.section-bottom {
    height: 365px;
    left: 281px;
    margin-top: 0;
    position: relative;
    width: 784px;
    z-index: 10;
}

.gradient {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

.section-main {
    background: #1F231D;
    /*  border-top-left-radius: 4px;
      border-top-right-radius: 4px;*/
    height: 680px;
    position: relative;
    width: 100%;
}

.answer {
    visibility: visible;
    opacity: 0.5;
    font-style: italic;
    letter-spacing: 0.6px;
    font-size: 15px;
    margin-left: 3px;
}

.icon {
    background: url(../img/icon-large.png);
    background-size: 100%;
    height: 47.6px;
    width: 34px;
}

.overlay {
    background: url(../img/background-1.jpg) 0 50%;
    background-size: cover;
    opacity: .06;
    width: 100%;
    height: 680px;
    position: absolute;
    z-index: 2;
    /*-webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);*/
}

.main-cta {
    background: #2FB364;
    border-radius: 26px;
    /*  -webkit-box-shadow: 0px 1px 2px 0px rgba(46,46,46,.5);
      -moz-box-shadow: 0px 1px 2px 0px rgba(46,46,46,.5);
      box-shadow: 0px 1px 2px 0px rgba(46,46,46,.5);*/
    /*border: solid 2px #72CC96;*/
    color: #fff;
    cursor: default;
    font-family: "Gotham Bold", serif;
    height: 52px;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 6px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    width: 232px;
}

.main-cta:hover {
    background: #52C473;
}

.store-info {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", serif;
    font-weight: 300;
    letter-spacing: 2px;
    position: absolute;
    bottom: 90px;
    z-index: 25;
}

.store-name {
    font-size: 30px;
    opacity: .8;
}

.site {
    width: 100%;
    margin: auto;
    margin-top: 0;
}

.site-name {
    color: #fff;
    display: block;
    font-size: 22px;
    margin: 20px 0 0 6px;
    opacity: .85;
}

.pill {
    background: #fff;
    border-radius: 3px;
    cursor: default;
    color: #086A9E;
    font-family: "Gotham Bold", serif;
    font-size: 11px;
    padding: 6px 8px;
}

.cta-area {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    width: 222px;
}

.headline-area {
    display: inline-block;
    width: 526px;
}

.questions-area {
    margin-right: 3%;
    width: 66%;
}

.links-area {
    width: 31%;
}

.icon-social {
    display: inline-block;
    margin-right: 22px;
    opacity: .7;
    transition: opacity 0.2s ease;
}

.icon-social:hover {
    opacity: 1;
}

.icon-slack {
    background: url(../img/icon-slack.png) no-repeat;
    background-size: 100%;
    height: 16px;
    margin-left: 3px;
    margin-top: 18px;
    width: 16px;
}

.icon-twitter {
    background: url(../img/icon-twitter.png) no-repeat;
    background-size: 100%;
    height: 16px;
    width: 18px;
}

.icon-reddit {
    background: url(../img/icon-reddit.png) no-repeat;
    background-size: 100%;
    height: 19px;
    width: 23px;
}

.icon-email {
    background: url(../img/icon-email.png) no-repeat;
    background-size: 100%;
    height: 13px;
    margin-right: 0;
    width: 20px;
}

@media screen and (max-width: 1024px) {
    .answer {
        visibility: hidden;
    }

    .section-right,
    .section-bottom {
        left: 100px;
    }

    .site-name {
        display: none;
    }

    ul li {
        font-size: 13px;
    }

    ul li a {
        font-size: 13px;
    }
}

.links-area li.social {
    line-height: 0;
}

.screenshot {
    background: url(../img/screen-1.png) no-repeat;
    background-size: 100%;
    width: 780px;
    height: 495px;
    position: absolute;
    bottom: 71px;
}